// @ts-check

/**
 * @type {import('./goqoo.config.types').Config}
 */
const config = {
  bundlerType: 'default',
  dtsGen: {
    env: 'development',
  },
  environments: [
    {
      env: 'development',
      host: 'example.cybozu.com',
      auth: { type: 'password' },
      appId: {
        auto_number: 0,
        project: 1,
        customer: 2,
        sales_activity: 3,
      },
      externalApi: {
        proxyConfigPluginId: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
        kintone: {
          recordGet: {
            url: 'https://example.cybozu.com/k/v1/record.json',
            method: 'GET',
          },
          recordsGet: {
            url: 'https://example.cybozu.com/k/v1/records.json',
            method: 'GET',
          },
          recordPut: {
            url: 'https://example.cybozu.com/k/v1/record.json',
            method: 'PUT',
          },
          commentPost: {
            url: 'https://example.cybozu.com/k/v1/record/comment.json',
            method: 'POST',
          },
        },
      },
    },
  ],
}
module.exports = config
